<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form class="form">
			<input type="text" placeholder="Username" [(ngModel)]="User_id" [ngModelOptions]="{standalone:true}">
			<input type="password" placeholder="Password" [(ngModel)]="pass" [ngModelOptions]="{standalone:true}">
			<button type="submit" id="login-button" class="login" (click)="LoginClick()">Login</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>